<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= link_to "admin login", new_admin_session_path %>
<%= link_to "interviwer checkin", interviewer_checkin_path %>
<%= link_to "interviwee checkin", interviewee_checkin_path %>
