<div style="background-color: #5f6267;";>

  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Student check-in</div>
      <div class="card-body">
        <h4><i class="far fa-calendar-check"></i> Thank you!</h4>
      </div>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSc8FnS1QTqT-BpzP09ThPDeUVVa6r1Ais6Kw3dydiOgiUDfkQ/viewform">Form</a>
    </div>
  </div>
</div>
